#now__sidepanel {
  height: 100vh;
  width: 50%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -50%;
  background-color: #111;
  overflow-x: hidden;
  transition: left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  padding-top: 60px;
}

#now__sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#now__sidepanel a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  cursor: pointer;
  color: #818181;
  transition: color 0.3s;
}

.closebtn:hover {
  color: #f1f1f1;
}

#base__wrapper {
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  width: 100%;
}

#now-button-container {
  position: fixed;
  left: 20%;
  bottom: 20%;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  #now__sidepanel {
    width: 100%;
    left: -100%;
  }
  #base__wrapper {
    transform: none !important;
  }
}
